<div class="linha">

    <input type="text" name="letra1" id="letra1" autocomplete="off" maxlength="1">

    <input type="text" name="letra2" id="letra2" autocomplete="off" maxlength="1">

    <input type="text" name="letra3" id="letra3" autocomplete="off" maxlength="1">

    <input type="text" name="letra4" id="letra4" autocomplete="off" maxlength="1">

    <input type="text" name="letra5" id="letra5" autocomplete="off" maxlength="1">

    <input type="text" name="letra6" id="letra6" autocomplete="off" maxlength="1">
</div>
