<section>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[0] }">{{ teclas[0] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[1] }">{{ teclas[1] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[2] }">{{ teclas[2] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[3] }">{{ teclas[3] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[4] }">{{ teclas[4] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[5] }">{{ teclas[5] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[6] }">{{ teclas[6] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[7] }">{{ teclas[7] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[8] }">{{ teclas[8] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[9] }">{{ teclas[9] }}</p>
    </div>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[10] }">{{ teclas[10] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[11] }">{{ teclas[11] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[12] }">{{ teclas[12] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[13] }">{{ teclas[13] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[14] }">{{ teclas[14] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[15] }">{{ teclas[15] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[16] }">{{ teclas[16] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[17] }">{{ teclas[17] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[18] }">{{ teclas[18] }}</p>
    </div>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[19] }">{{ teclas[19] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[20] }">{{ teclas[20] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[21] }">{{ teclas[21] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[22] }">{{ teclas[22] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[23] }">{{ teclas[23] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[24] }">{{ teclas[24] }}</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[25] }">{{ teclas[25] }}</p>
    </div>
</section>
