div{
    display: flex;
    gap: 0.2em;
    justify-content: center;
    height: 4em;
}

p{
    background-color: rgb(54, 54, 54);
    text-align: center;
    align-items: center;
    padding: 8px;
    width: 1em;
    height: 1em;
    font-size: 1.5em;
    border-radius: 10px;
    border: 3px solid rgb(34, 34, 34);
}

.backspace{
    width: 1.5em;
    height: 1em;
    margin-left: 0.6em;
}

.backspace svg{
    width: 1.3em;
    height: 1.3em;
    margin-top: -0.16em;
}

.enter{
    width: 3em;
    text-align: center;
    margin-left: 0.6em;
}