<section>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[0] }">Q</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[1] }">W</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[2] }">E</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[3] }">R</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[4] }">T</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[5] }">Y</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[6] }">U</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[7] }">I</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[8] }">O</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[9] }">P</p>
    </div>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[10] }">A</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[11] }">S</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[12] }">D</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[13] }">F</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[14] }">G</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[15] }">H</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[16] }">J</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[17] }">K</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[18] }">L</p>
    </div>
    <div>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[19] }">Z</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[20] }">X</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[21] }">C</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[22] }">V</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[23] }">B</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[24] }">N</p>
        <p class="tecla" [ngStyle]="{ 'background-color': background_tecla[25] }">M</p>
    </div>
</section>
