header{    
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(58, 58, 58);
}

div{
    margin-left: 3em;
    margin-right: 3em;
}

a{
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    gap: 2em;
}

span{
    font-size: 1.6em;
}

.links p{
    font-size: 1.5em;
    transition: 0.5s;
}

.links p:hover{
    font-size: 1.7em;
}