<header>
    <div>
        <h1>


            <span style="color: rgba(0, 255, 0, 0.808); text-decoration: overline;">L</span>
            <span style="color: rgb(240, 240, 240); text-decoration: overline;">e</span>
            <span style="color: rgba(255, 255, 0, 0.74); text-decoration: overline;">t</span>
            <span style="color: rgba(0, 255, 0, 0.808); text-decoration: overline;">r</span>
            <span style="color: rgba(255, 255, 0, 0.74); text-decoration: overline;">a</span>
            <span style="color: rgb(240, 240, 240); text-decoration: overline;">s</span>
          </h1>
    </div>
    <div>
        <p>Sobre</p>
    </div>
</header>