

<div>
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

<h1 *ngIf="isResposta">
  <div class="respostaMostrar">
    <p>A resposta era: {{ palavraCorreta.toUpperCase() }} </p>

    <a href="">Jogar Novamente</a>
  </div>
</h1>

<div *ngIf="!isSobrePage">
  <!-- Cada linha precisa ser bloqueada e desbloqueada conforme a tentativa. -->
  <app-linhas [id]="1" [Ltentativa]="linhaTentativa[0]" [completo]="linhaCompleta[0]" (completoChange)="atualizarCompleto(0, $event)"></app-linhas>
  <app-linhas [id]="2" [Ltentativa]="linhaTentativa[1]" [completo]="linhaCompleta[1]" (completoChange)="atualizarCompleto(1, $event)"></app-linhas>
  <app-linhas [id]="3" [Ltentativa]="linhaTentativa[2]" [completo]="linhaCompleta[2]" (completoChange)="atualizarCompleto(2, $event)"></app-linhas>
  <app-linhas [id]="4" [Ltentativa]="linhaTentativa[3]" [completo]="linhaCompleta[3]" (completoChange)="atualizarCompleto(3, $event)"></app-linhas>
  <app-linhas [id]="5" [Ltentativa]="linhaTentativa[4]" [completo]="linhaCompleta[4]" (completoChange)="atualizarCompleto(4, $event)"></app-linhas>
  <app-linhas [id]="6" [Ltentativa]="linhaTentativa[5]" [completo]="linhaCompleta[5]" (completoChange)="atualizarCompleto(5, $event)"></app-linhas>
  <app-linhas [id]="7" [Ltentativa]="linhaTentativa[6]" [completo]="linhaCompleta[6]" (completoChange)="atualizarCompleto(6, $event)"></app-linhas>
</div>

<app-teclado *ngIf="!isSobrePage"></app-teclado>
